.pcol1{padding:1px 0px;}
.pcol2{padding:2px 0px;}
.pcol3{padding:3px 0px;}
.pcol4{padding:4px 0px;}
.pcol5{padding:5px 0px;}
.pcol6{padding:6px 0px;}
.pcol7{padding:7px 0px;}
.pcol8{padding:8px 0px;}
.pcol9{padding:9px 0px;}
.pcol10{padding:10px 0px;}
.pcol11{padding:11px 0px;}
.pcol12{padding:12px 0px;}
.pcol13{padding:13px 0px;}
.pcol14{padding:14px 0px;}
.pcol15{padding:15px 0px;}
.pcol16{padding:16px 0px;}
.pcol17{padding:17px 0px;}
.pcol18{padding:18px 0px;}
.pcol19{padding:19px 0px;}
.pcol20{padding:20px 0px;}
.pcol25{padding:25px 0px;}
.pcol30{padding:30px 0px;}
.pcol35{padding:35px 0px;}
.pcol40{padding:40px 0px;}
.pcol45{padding:45px 0px;}
.pcol50{padding:50px 0px;}
.pcol55{padding:55px 0px;}
.pcol60{padding:60px 0px;}
.pcol65{padding:65px 0px;}
.pcol70{padding:70px 0px;}
.pcol75{padding:75px 0px;}
.pcol80{padding:80px 0px;}
.pcol85{padding:85px 0px;}
.pcol90{padding:90px 0px;}
.pcol95{padding:95px 0px;}
.pcol100{padding:100px 0px;}